<header id="site-banner">

    <h1 class="sr-only"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>

    <a class="ascii" href="{{ site.baseurl }}/">
      <pre>
_|              _|      _|                 _|                        _|
_|    _|_|    _|_|_|_|       _|_|_|            _|    _|    _|_|_|  _|_|_|_|
_|  _|_|_|_|    _|         _|_|            _|  _|    _|  _|_|        _|
_|  _|          _|             _|_|        _|  _|    _|      _|_|    _|
_|    _|_|_|      _|_|     _|_|_|          _|    _|_|_|  _|_|_|        _|_|
                                           _|
                                          _|
_|                            _|                     _|        _|    _|
_|_|_|      _|_|_|    _|_|_|  _|  _|         _|_|_|  _|_|_|        _|_|_|_|
_|    _|  _|    _|  _|        _|_|         _|_|      _|    _|  _|    _|
_|    _|  _|    _|  _|        _|  _|           _|_|  _|    _|  _|    _|
_|    _|    _|_|_|    _|_|_|  _|    _|     _|_|_|    _|    _|  _|      _|_|</pre>
    </a>

    <nav>
      <ul>
        <li>
          <a href="/"{% if page.url == '/' %} class="is_current"{% endif %}>
            Home
          </a>
        </li>
        <li>
          <a href="/conduct.html"{% if page.url == '/conduct' %} class="is_current"{% endif %}>
            Code of Conduct
          </a>
        </li>
        <li>
          <a href="/platypuscon2016.html"{% if page.url == '/platypuscon2016' %} class="is_current"{% endif %}>
            PlatypusCon 2016
          </a>
        </li>
        <li><a href="mailto:{{ site.email }}">mailto: leadership</a></li>
      </ul>
    </nav>

    <p class="site-description">{{ site.description }}</p>

    {% include fu-platy.html %}

    {% if page.abstract %}
      {{ page.abstract | markdownify }}
    {% endif %}

</header>
