<header id="site-banner">

    <!--<h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>-->

    <h1>
      <a href="{{ site.baseurl }}/">
      <pre>
_|              _|      _|                 _|                        _|
_|    _|_|    _|_|_|_|       _|_|_|            _|    _|    _|_|_|  _|_|_|_|
_|  _|_|_|_|    _|         _|_|            _|  _|    _|  _|_|        _|
_|  _|          _|             _|_|        _|  _|    _|      _|_|    _|
_|    _|_|_|      _|_|     _|_|_|          _|    _|_|_|  _|_|_|        _|_|
                                           _|
                                          _|
_|                            _|                     _|        _|    _|
_|_|_|      _|_|_|    _|_|_|  _|  _|         _|_|_|  _|_|_|        _|_|_|_|
_|    _|  _|    _|  _|        _|_|         _|_|      _|    _|  _|    _|
_|    _|  _|    _|  _|        _|  _|           _|_|  _|    _|  _|    _|
_|    _|    _|_|_|    _|_|_|  _|    _|     _|_|_|    _|    _|  _|      _|_|
        </pre>
      </a>
    </h1>

    <p class="site-description">{{ site.description }}</p>

    <p>
    <table>
       <tr>
        {% for node in site.pages %}
          {% if page.url == node.url %}
          {% else %}
            <td><a href="{{node.url}}">{{node.title}}</a></td>
          {% endif %}
            <td><a href="{{node.url}}">{{node.title}}</a></td>
        {% endfor %} 
       </tr>
    </table>
    </p>

    {% include fu-platy.html %}
    {{ page.abstract | markdownify }}

</header>
