---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
////////////////////////////////////////////////////////////////////////////////

//  # Custom monospace fonts.
//
@font-face {
  font-family: 'FixedsysExcelsior301Regular';
  src:  url('../fonts/fsex300/fsex300-webfont.eot');
          // IE9 Compat Modes fuck you
  src:  url('../fonts/fsex300/fsex300-webfont.eot?#iefix') format('embedded-opentype'),
          // IE7-8(?) compat Modes fuck you
        url('../fonts/fsex300/fsex300-webfont.woff') format('woff'),
          // Gen. modern browsers
        url('../fonts/fsex300/fsex300-webfont.ttf') format('truetype'),
          // Safari, Android, iOS and that crap
        url('../fonts/fsex300/fsex300-webfont.svg#FixedsysExcelsior301Regular') format('svg');
          // b/c?

  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  font-smooth:never;
}
////////////////////////////////////////////////////////////////////////////////

//  # Custom variables.
//
//    None here right now?
$fontface-mono: 'FixedsysExcelsior301Regular', 'Mononoki', Monaco, "Bitstream Vera Sans Mono", monospace;

$base-font-family: $fontface-mono;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;

//  # Base leading (line heights).
$base-leading: 1.7;
$base-heading-leading: 1.4;

//  # Other Sizes.
$base-spacing: $base-leading * 1em;
$small-spacing: $base-spacing / 2;
$base-border-radius: 3px;
$base-z-index: 0;

//  # Base colours.
$base-font-color: #d5eac3;
$base-background-color: #111;
$secondary-background-color: lighten($base-background-color, 10%);
////////////////////////////////////////////////////////////////////////////////

//  # Import partials.
//
//    File partials are loaded from `sass_dir` (set in `_config.yml`).
//
//    `bourbon` and `neat` are called via gems.
//
@import
        //"colours",
        //"variables",

        "normalize",
        "bourbon",
        "grid-settings",
        "neat",
        //"grid",
        //"accessibility",
        //"forms",
        //"typography",
        //"buttons",
        //"tables",
        "textures",
        "syntax-highlighting";
////////////////////////////////////////////////////////////////////////////////

//  # Basic top-level block elements in the DOM.
//
//    Also gives access to column include and grid settings.
//
body {
  @include outer-container;
  @include texture(0deg, $base-background-color, darken(#051b28, 7%), 46, 1);

  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $base-font-color;
  line-height: $base-leading;
  background-color: $base-background-color;
  text-shadow: #000 2px 0 0;

  header#site-banner,
  main {

    @include media($desktop and $large-desktop) {
      @include span-columns(7 of 12);
      @include shift(1);
    }
    @include media($mobile-landscape and $tablet) {
      @include span-columns(8 of 12);
      @include shift(1);
    }
    @include media(screen and $mobile-landscape) {
      @include span-columns(10 of 12);
      @include shift(1);
    }
  }
  footer#site-footer {
    @include media($desktop and $large-desktop) {
      @include span-columns(10 of 12);
      @include shift(1);
    }
    @include media($mobile-landscape and $tablet) {
      @include span-columns(10 of 12);
      @include shift(1);
    }
    @include media(screen and $mobile-landscape) {
      @include span-columns(10 of 12);
      @include shift(1);
    }
  }
}
////////////////////////////////////////////////////////////////////////////////

//  # Basic in-line level elements in the DOM.
//
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $base-heading-leading;
  font-weight: normal;
  margin-bottom: $small-spacing;
  margin-top: $small-spacing;
}

ul,
ol,
dl,
blockquote,
p {
  margin-bottom: ($base-spacing * 1.5);
  font-size: 0.75em;
}

p {
}

a {
  text-decoration: none;

  &:hover,
  &:focus { }
}

pre code {
  font-family: $fontface-mono;
  opacity: 0.25;
  font-size: 0.7em;
}
////////////////////////////////////////////////////////////////////////////////

//  # Actual styling.
//
a {
  padding: ($small-spacing / 2);
  color: lighten($base-font-color, 10%);
  border-bottom: 2px solid darken(#8CD3FF, 50%);

  &:hover,
  &:focus {
    background-color: rgba(0, 86, 140, 0.5);
    color: white;
    opacity: 1;
    border-bottom: none;
  }
}

header {

  &#site-banner {
    h1 a pre {
      font-size: 7px;
      font-weight: bold;
      opacity: 0.25;
      text-shadow: black 2px 0 0;
      color: white;

      &:hover,
      &:focus {
        opacity: 0.4;
      }
    }
    p.site-description {
      font-size: 1em;
      color: #FF6D6D;
      opacity: 0.5;
      text-indent: -($small-spacing * 1.25);

      &::before {
        content: '';
        color: $base-font-color;
        opacity: 0.25;
      }
    }
  }
}

main {
  font-size: 1.25em; // 18
  opacity: 0.8;
  letter-spacing: 0.5px;

  h2 {
    text-indent: -($small-spacing * 1.8);
    color: #8CD3FF;
    opacity: 0.5;

    &::before {
      content: "\0023\0023\0020"; // `## `
      opacity: 0.25;
    }
  }

  ul li {
    list-style-type: square;
  }

  dl {
    dt,
    dd {
      font-size: 1.166em; // 20
    }
    dt {
      opacity: 0.7;
    }
    dd {
      margin-left: 0;

      &::before {
        content: '\003A\0020'; // `: `
        opacity: 0.25;
      }
    }
  }
}

header#site-banner {
  margin-bottom: $base-spacing;
}

header#site-banner,
footer#site-footer {
  a {
    opacity: 0.7;
    border-bottom: none;
  }
}

header#site-banner a {
  &:hover,
  &:focus {
    background-color: transparent;
  }
}

footer#site-footer {
  border-top: $base-spacing solid transparentize(#FF6D6D, .75);
  text-align: right;
  clear: both;
  margin-top: ($base-spacing * 2);
  margin-bottom: $small-spacing;
  padding-top: $small-spacing;
}
