---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
////////////////////////////////////////////////////////////////////////////////

//  # Custom monospace fonts.
//
@font-face {
  font-family: 'FixedsysExcelsior301Regular';
  src:  url('../fonts/fsex300/fsex300-webfont.eot');
          // IE9 Compat Modes fuck you
  src:  url('../fonts/fsex300/fsex300-webfont.eot?#iefix') format('embedded-opentype'),
          // IE7-8(?) compat Modes fuck you
        url('../fonts/fsex300/fsex300-webfont.woff') format('woff'),
          // Gen. modern browsers
        url('../fonts/fsex300/fsex300-webfont.ttf') format('truetype'),
          // Safari, Android, iOS and that crap
        url('../fonts/fsex300/fsex300-webfont.svg#FixedsysExcelsior301Regular') format('svg');
          // b/c?

  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  font-smooth:never;
}
////////////////////////////////////////////////////////////////////////////////

//  # Custom variables.
//
//    None here right now?
$fontface-mono: 'FixedsysExcelsior301Regular', 'Mononoki', Monaco, "Bitstream Vera Sans Mono", monospace;

$base-font-family: $fontface-mono;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;

//  # Base leading (line heights).
$base-leading: 1.7;
$base-heading-leading: 1.4;

//  # Other Sizes.
$base-spacing: $base-leading * 1em;
$small-spacing: $base-spacing / 2;
$base-border-radius: 3px;
$base-z-index: 0;

//  # Base colours.
$base-font-color: #d5eac3;
$base-background-color: #111;
$secondary-background-color: lighten($base-background-color, 10%);
////////////////////////////////////////////////////////////////////////////////

//  # Import partials.
//
//    File partials are loaded from `sass_dir` (set in `_config.yml`).
//
//    `bourbon` and `neat` are called via gems.
//
@import
        //"colours",
        //"variables",

        "normalize",
        "bourbon",
        "grid-settings",
        "neat",
        //"grid",
        //"accessibility",
        //"forms",
        //"typography",
        //"buttons",
        //"tables",
        "textures",
        "syntax-highlighting";
////////////////////////////////////////////////////////////////////////////////

//  # Basic top-level block elements in the DOM.
//
//    Also gives access to column include and grid settings.
//
body {
  @include outer-container;
  @include texture(0deg, $base-background-color, darken(#051b28, 7%), 85, 1);

  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $base-font-color;
  line-height: $base-leading;
  background-color: $base-background-color;
  text-shadow: #000 2px 0 0;

  header#site-banner,
  main,
  footer#site-footer {
    @include media($desktop and $large-desktop) {
      @include span-columns(7 of 12);
      @include shift(1);
    }
    @include media($mobile-landscape and $tablet) {
      @include span-columns(8 of 12);
      @include shift(1);
    }
    @include media(screen and $mobile-landscape) {
      @include span-columns(10 of 12);
      @include shift(1);
    }

    margin: 0 auto;
  }
}
////////////////////////////////////////////////////////////////////////////////

//  # Basic in-line level elements in the DOM.
//
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $base-heading-leading;
  font-weight: normal;
  margin-bottom: $small-spacing;
}

ul,
ol,
dl,
blockquote,
p {
  margin-bottom: $base-spacing;
  font-size: 0.75em;
}

p {
}

a {
  text-decoration: none;

  &:hover,
  &:focus {

  }
}
////////////////////////////////////////////////////////////////////////////////

//  # Actual styling.
//
header {

  &#site-banner {
    h1 a pre {
      font-size: 7px;
      font-weight: bold;
      opacity: 0.2;
      text-shadow: black 2px 0 0;
      color: white;

      &:hover,
      &:focus {
        opacity: 0.5;
      }
    }
    p.site-description {
      font-size: 1em;
      color: #8CD3FF;
      opacity: 0.5;
      text-indent: -($small-spacing * 1.25);

      &::before {
        content: '\ ';
        color: $base-font-color;
        opacity: 0.25;
      }
    }
  }
}

main {
  font-size: 1.25em; // 18
  opacity: 0.8;

  pre code {
    opacity: 0.25;
    font-family: $fontface-mono;
    font-size: 0.7em;
  }
}
